
<div *ngIf="author">
    <h2><span jhiTranslate="scaffoldApp.author.detail.title">Author</span> {{author.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="scaffoldApp.author.name">Name</span></dt>
        <dd>
            <span>{{author.name}}</span>
        </dd>
        <dt><span jhiTranslate="scaffoldApp.author.age">Age</span></dt>
        <dd>
            <span>{{author.age}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'author/'+ author.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
